<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro">
            <h1>
            Cadastrar
            </h1>
        </div>
        <div class="frase"><br>
            <h3>
                Cadastre-se e comece a gerenciar seu estoque!
            </h3>
        </div>
        <br>
        <form action="/create" method="POST">
            <input type="email" name="email" id="username" class="username username_cadastro " placeholder="Usuario">
            <input type="password" name="password" id="password" class="password password_cadastro" placeholder="Senha">
            <input type="text" name="empresa" id="name" class="name_empresa" placeholder="Nome da empresa">
            <input type="text" name="local" id="local" class="local_empresa" placeholder="Local da empresa">
            <input type="text" name="Telefone" id="tel" class="tel_empresa" placeholder="Telefone da empresa">
            <button class="bt_cadastro">Cadastrar</button>
        </form>
        <a href="/"class="ja_cadastro">Já é registrado ? Faça o login</a>
        <img src="?????" class="imagem">
        <img src = "vector2.jpg" class="Vetor">

</body>
</html> 