<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Estoque</title>
</head>

<body>

<div class="barralateral">
    <img src="logo.jpg" class="logo">
    <button class="bts_estoque bt_1">Estoque</button>
    <button class="bts_estoque bt_2">Histórico</button>
    <button class="bts_estoque bt_3">Finanças</button>
    <button class="bts_estoque bt_4">perfil</button>
    <button class="bt_5"><img src="add.png"/></button>
    <button class="bt_6"><img src="carrinho.png"/></button>
</div>

<div class="container">
    <div class="produto">
        <img class="img_produtos">
        <button class="bt_vender">
            Vender
        </button>
        <div class="quadrado_nome"></div>
        <div class="quadrado_qnt"></div>
    </div>
    <div class="produto">
        <img class="img_produtos">
        <button class="bt_vender">
            Vender
        </button>
        <div class="quadrado_nome"></div>
        <div class="quadrado_qnt"></div>
    </div>
    <div class="produto">
        <img class="img_produtos">
        <button class="bt_vender">
            Vender
        </button>
        <div class="quadrado_nome"></div>
        <div class="quadrado_qnt"></div>
    </div>


    
    
    
</div>



</body>
</html>